@font-face {
    font-family: "Gputeks";
    src: url("font/Gputeks-Regular.woff2"), url("font/Gputeks-Regular.woff");
    
}

*{
    font-family: Gputeks;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

.container2{
    width: 1315px;
    margin: 0 auto;
}

.back{
    background: #39435C;
    width: 236px;
    height: 102px;
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
position: fixed;
color: #FFFFFF;
top: 70px;
left: 0;
}

.join{
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    margin-bottom: 130px;
}

.join-us{
    background: linear-gradient(#222836, #293146);
}

.join-us-title{
    font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 99px;

color: #FFFFFF;

}

.join-us-text{
    font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 99px;

color: #FD9B40;
margin-right: 125px;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.join-cards{
    background: #39435C;
    width: 340px;
    height: 456px;
    margin-bottom: 270px;
    transition: 0.3s;
    cursor: pointer;
    
}

.join-cards-text{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
transform: translate3d(100px, 106%, 0em);

}

.join-cards-details{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
display: flex;
align-items: center;
text-align: right;

color: #FD9B40;
transform: translate3d(-59px, 120%, 0em);

}

.join-cards-img{
    width: 192px;
    height: 222px;
    transform: translate3d(87px, 21%, 0em);
}

.join-cards:hover{
    transform: scale(1.1);
    border: 2px solid white;
}

.flying-main{
    background: linear-gradient(#293145, #222837);
}

blockquote{
    quotes: "<<" ">>";
}

.quote::before{
    content: open-quote;
}

.quote::after{
    content: close-quote;
}

.flying-quotes1{
    background: url(img/bg112.svg) no-repeat;
    background-size: 100%;
    background-position: 0 550px;
    
}

.flying-about{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
padding-top: 40px;
width: 758px;
margin: auto;
padding-bottom: 23px;
}

.button{
    font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 99px;
display: flex;
align-items: center;
text-align: center;
opacity: 20%;
color: #FFFFFF;
background: transparent;
cursor: pointer;
padding-top: 29px;
padding-bottom: 29px;
width: 364px;
margin: auto;
}

.button:hover{
opacity: 100%;
}

.flying-quotes{
    background: #353F5A;
    margin-top: 71px;
    width: 1315px;
    
    padding-left: 117px;
    padding-top: 110px;
    padding-right: 138px;
    overflow: hidden;
}

.quote{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
padding-bottom: 50px;
color: #FFFFFF;

}

.name{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
padding-bottom: 150px;
text-align: right;

color: #FD9B40;

}

.registration{
    background: #FFB762;
    overflow: auto;
}

.registration-title{
    background: #202535;
    font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 99px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
height: 54px;
margin: auto;
padding-top: 65px;
padding-bottom: 65px;
padding-right: 332px;
padding-left: 332px;

}

form{
    margin-top: 500px;
    background: #353F5A;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-bottom: 285px;
}

main{
    background: #FFB762;
}

.registration-input{
    margin-top: 117px;
    margin-bottom: -64px;
    width: 1004;
    height: 63px;
    margin-left: 155px;
    margin-right: 155px;
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
padding-left: 9px;
background: #303854;
box-shadow: 0 3px #202535;
cursor: pointer;
color: #7A7A7A;
}

.registration-input:hover{
    border: 2px solid #FD9B40;
}

.registration-checkbox{
    margin-left: auto;
    margin-right: auto;
   margin-top: 114px;
   margin-bottom: 50px;
width: 60px;
height: 60px;
cursor: pointer;
background: #FFFFFF;
border: 2px solid #202535;

}

.registration-link{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
margin: auto;
color: #FFFFFF;
margin-bottom: 164px;
}

.registration-button{
    background: #4B5A82;
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 50px;
width: 526px;
height: 115px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
margin: auto;
padding-left: 172px;
margin-bottom: 131px;
cursor: pointer;
transition: 0.3s;
}

.registration-button:hover{
    transform: scale(1.1);
}